.principal {
    width: 50%;
    margin: 0 auto;
}

.title {
    padding-left: 20px;
    padding-right: 20px;
    white-space: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.container {
    padding: 1em;

}

.item{
    margin: 2em;
    padding: 1em;
    float: left;
}