<h1>Servicios</h1>

<div class="card">
    <div class="card-head">
        <div class="card-body">
            <img src="./assets/general.jpg" alt="" style="width:223px; height: 220px; object-fit: cover; ; border-radius: 100%;">
            <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Consulta General</h4>
                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Revisión de manera minuciosa de tu mascota para la detección de enfermedades.</p>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-head">
        <div class="card-body">
            <img src="./assets/cardiologia.jpg" alt="" style="width:223px; height: 220px; object-fit: cover; ; border-radius: 100%;">
            <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Cardiología</h4>
                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Se realiza una exploración minuciosa del corazón para detectar alguna anormalidad y así aconsejarte algún estudio en particular para un mejor diagnóstico y tratamiento.</p>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-head">
        <div class="card-body">
            <img src="./assets/Oftalmologia.jpg" alt="" style="width:223px; height: 220px; object-fit: cover; ; border-radius: 100%;">
            <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Oftalmología</h4>
                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Se realizan varias pruebas y análisis de la función visual, así como una valoración minuciosa de párpados y estructuras aledañas a los ojos que estén ocasionando problemas.</p>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-head">
        <div class="card-body">
            <img src="./assets/Dermatologia.jpg" alt="" style="width:223px; height: 220px; object-fit: cover; ; border-radius: 100%;">
            <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Dermatología</h4>
                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Se realizan tres pruebas fundamentales (tipografía, raspado cutáneo y citología) .</p>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-head">
        <div class="card-body">
            <img src="./assets/neurologia.jpg" alt="" style="width:223px; height: 220px; object-fit: cover; ; border-radius: 100%;">
            <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Neurología</h4>
                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Se realizan varias pruebas para la detección de alguna enfermedad.</p>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-head">
        <div class="card-body">
            <img src="./assets/rayosx.jpg" alt="" style="width:223px; height: 220px; object-fit: cover; ; border-radius: 100%;">
            <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Rayos X</h4>
                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Técnicas ampliamente utilizadas que no generan dolor y tienen alto valor para la obtención de diagnósticos oportunos.</p>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-head">
        <div class="card-body">
            <img src="./assets/estetica.jpg" alt=""style="width:223px; height: 220px; object-fit: cover; ; border-radius: 100%;">
            <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Estetica Canina</h4>
                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Baños y corte de pelo.</p>
        </div>
    </div>
</div>